<div class="animated fadeIn">
  <h2>Artists</h2>
  <h3><%= button_to "New Artist", new_artist_path, class: "button new-button", method: :get %></h3>
</div>

<%= form_tag(artists_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Artists" %>
<% end %>

</br>
<div class="list-small row container centered">
  <div class="small-6 columns">
    <p>Title</p>
  </div>
  <div class="small-6 columns">
    <p># of Tabs</p>
  </div>
<% @artists.each do |artist| %>
    <div class="small-6 columns">
      <p><%= link_to artist.name, artist, class: "link" %></p>
    </div>
    <div class="small-6 columns">
      <p><%= artist.songs.length %></p>
    </div>
<% end %>
</div>
