<div class="animated fadeIn">
  <h2>Artists</h2>
  <h3><%= link_to "New Artist", new_artist_path, class: "link" %></h3>
</div>

<%= form_tag(artists_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Artists" %>
<% end %>

</br>
<div class="text-list row container">
  <div class="small-6 columns text-center">
    <p>Title</p>
  </div>
  <div class="small-6 columns text-center">
    <p># of Tabs</p>
  </div>
</div>
<% @artists.each do |artist| %>
  <div class="text-list row container">
    <div class="small-6 columns text-center">
      <p><%= link_to artist.name, artist, class: "link" %></p>
    </div>
    <div class="small-6 columns text-center">
      <p><%= artist.songs.length %></p>
    </div>
  </div>
<% end %>
