<h2>Artists</h2>


<%= form_tag(artists_path, :method => "get", id: "search-form") do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Artists" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<h3><%= link_to "New Artist", new_artist_path %></h3>
</br>

<p class="small-3 columns">Title</p>
<p class="small-3 columns"># of Tabs</p>
<p class="small-6 columns">Latest Upload Date</p>
<% @artists.each do |artist| %>
  <p class="small-3 columns"><%= link_to artist.name, artist %> </p>
  <p class="small-3 columns"><%= artist.songs.length %></p>
  <p class="small-6 columns"><%= artist.songs.order(created_at: :desc).first.created_at.strftime("%Y-%m-%d") %> </p>
<% end %>
