<h2> <%= @user.username %> </h2>
<h3> <%= @user.created_at.strftime("%Y-%m-%d") %> </h3>
<% if @user.id == current_user.id %>
  <h3> <%= link_to 'Edit Account', edit_user_registration_path %> </h3>
<% end %>

<div class="row">
  <p class="small-4 columns">Title</p>
  <p class="small-4 columns">Artist</p>
  <p class="small-4 columns">Date</p>
  <% @user.songs.each do |song| %>
    <p class="small-4 columns"><%= link_to "#{song.title}", song %> </p>
    <p class="small-4 columns"><%= link_to "#{song.artist.name}", song.artist %> </p>
    <p class="small-4 columns"><%= song.created_at.strftime("%Y-%m-%d") %> </p>
  <% end %>
</div>
