<div class="animated fadeIn">
  <h2> <%= @user.username %> </h2>
  <h3> Joined: <%= @user.created_at.strftime("%Y-%m-%d") %> </h3>
  <% if @user.id == current_user.id %>
    <h3> <%= link_to 'Edit Account', edit_user_registration_path, class: "link" %> </h3>
  <% end %>
</div>
</br>

<% if @user.songs.length > 0 %>
  <% if @user.id == current_user.id %>
    <h3> My Tabs (<%= @user.songs.length %>)</h3>
  <% else %>
    <h3> <%= @user.username %>'s Tabs (<%= @user.songs.length %>)</h3>
  <% end %>
  <div class="list-wide row centered container">
    <p class="small-4 columns">Date</p>
    <p class="small-4 columns">Title</p>
    <p class="small-4 columns">Artist</p>
    <% @user.songs.each do |song| %>
      <p class="small-4 columns"><%= song.created_at.strftime("%Y-%m-%d") %> </p>
      <p class="small-4 columns"><%= link_to "#{song.title}", song, class: "link" %> </p>
      <p class="small-4 columns"><%= link_to "#{song.artist.name}", song.artist, class: "link" %> </p>
    <% end %>
<% end %>
</div>
</br>

<div class="review-list row centered container">
  <% if @user.reviews.length > 0 %>
    <% if @user.id == current_user.id %>
      <h3> My Reviews (<%= @user.reviews.length %>)</h3>
    <% else %>
      <h3> <%= @user.username %>'s Reviews (<%= @user.reviews.length %>) </h3>
    <% end %>
      <p class="small-2 columns">Date</p>
      <p class="small-3 columns">Title</p>
      <p class="small-2 columns">Artist</p>
      <p class="small-2 columns">Rating</p>
      <p class="small-3 columns">Review</p>
      <% @user.reviews.each do |review| %>
        <p class="small-2 columns"><%= review.created_at.strftime("%Y-%m-%d") %> </p>
        <p class="small-3 columns"><%= link_to review.song.title, review.song, class: "link" %></p>
        <p class="small-2 columns"><%= link_to review.song.artist.name, review.song.artist, class: "link" %></p>
        <p class="small-2 columns"><%= review.rating %> </p>
        <p class="small-3 columns optional-field"><%= review.body %> </p>
      <% end %>
  <% end %>
</div>
