<div class="animated fadeIn">
  <h2>Tabs</h2>
</div>

<%= form_tag(songs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search All Tabs" %>
<% end %>

</br>
<div class="text-list row container">
  <div class="small-4 columns text-center">
    <p>Title</p>
  </div>
  <div class="small-4 columns text-center">
    <p>Artist</p>
  </div>
  <div class="small-4 columns text-center">
    <p>User</p>
  </div>
</div>
<% @songs.each do |song| %>
  <div class="text-list row container">
    <div class="small-4 columns text-center">
      <p><%= link_to "#{full_title(song)}", song, class: "link" %></p>
    </div>
    <div class="small-4 columns text-center">
      <p><%= link_to "#{song.artist.name}", song.artist, class: "link" %></p>
    </div>
    <div class="small-4 columns text-center">
      <p><%= link_to "#{song.user.username}", song.user, class: "link" %></p>
    </div>
  </div>

<% end %>
