<h2>Tabs</h2>
<h3><%= link_to "New Tab", new_song_path %></h3>
</br>

<p class="small-3 columns">Title</p>
<p class="small-3 columns">Artist</p>
<p class="small-3 columns">Uploader</p>
<p class="small-3 columns">Date</p>
<% @songs.each do |song| %>
  <p class="small-3 columns"><%= link_to "#{song.title}", song %> </p>
  <p class="small-3 columns"><%= link_to "#{song.artist.name}", song.artist %> </p>
  <p class="small-3 columns"><%= link_to "#{song.user.username}", song.user %> </p>
  <p class="small-3 columns"><%= song.created_at.strftime("%Y-%m-%d") %> </p>
<% end %>
