<h2>New Tab</h2>

<%= form_for [@artist,@song] do |f| %>
  <div class="inline-block">

    <div class="text">
      <%= f.collection_radio_buttons(:version, [[1, "New Song"],[2, "Existing Song"]], :first, :last) %>
    </div>

    <div class="text">
      <%= f.label :title %>
      <%= f.collection_select(:title, @artist.songs, :id, :title ) %>
    </div>

      <%= f.submit "Add Tab"%>

</div>
<% end %>
