<h2>New Tab</h2>

<%= form_for [@artist,@song] do |f| %>
  <div class="inline-block">

    <div class="text">
      <%= f.collection_radio_buttons(:version, [[1, "New Song"],[2, "Existing Song"]], :first, :last) %>
    </div>



    <div class="text">
      <%= f.label :title, "Song" %>
      <%= f.text_field :title %>
    </div>

    <div class="text">
      <%= f.label :title, "Song" %>
      <%= f.collection_select(:title, @song_list, :to_s, :to_s) %>
    </div>

      <%= f.submit "Add Tab"%>

</div>
<% end %>
